
desktop.ini
File sorgenti/.metadata/
File sorgenti/workspace/.metadata/
File sorgenti/workspace/.recommenders/
File sorgenti/workspace/Esercitazione2/
File sorgenti/workspace/Progetto Map/.metadata/
File sorgenti/workspace/Progetto Map/.recommenders/
File sorgenti/workspace/Progetto Map/.settings/

*.lock
